/* Estilos locales para Main Menu */

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  padding: clamp(1rem, 3.5vw, 2rem);
  gap: clamp(1rem, 5vw, 3rem);
}

.main__wrapper {
  display: contents;
}

.main__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.main__menu {
  display: grid;
  gap: clamp(.5rem, 1.8vw, .9rem);
  align-content: center;
  justify-items: stretch;
  width: 80%;
  max-width: 400px;
  justify-self: center;
}

@media (max-aspect-ratio: 3/4) {
  .main {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .main__menu {
    width: 80%;
    max-width: 400px;
  }
}
